/**
  * Provide general styling for Overwatch.
  *
  * Styling is predominately based around customizing Polymer classes, as well the layout of elements within
  * particular pages.
  *
  * NOTE: For our purposes, this styling is sufficient for getting the job done. However, it really isn't
  *       very sophisticated and could most certainly benefit from a more experienced developer.
  *
  * Author: Raymond Ehlers <raymond.ehlers@yale.edu>, Yale University
  */

/* General header elements */
/* A fixed polymer header for both desktop and mobile */
.header {
    /* Appearance */
    background-color: #003E72;
    /*border-bottom: 1px solid #BCE8F1;*/
}

/* Style the horizontal dividing line */
/* Derived from: https://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 2px;
    /* Old color: */
    /*color: #4588ba; = rgba(69, 136, 186, 1)*/
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 62, 114, 0.75), rgba(0, 0, 0, 0));
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
}

/* Style all icons in the header */
.menuIcon {
    color: white;
}

/* Class to hide element when necessary */
.hideElement {
    display: none;
}

.flexElement {
    display: flex;
}

/* Allow drawer and main content to scroll */
.scrollableContainer {
    height: 100%;
    overflow: auto;
    word-wrap: break-word;
}

/* Shadow on the drawer to make the transition clearer */
.drawerShadow {
    box-shadow: 5px 0px 6px -3px rgba(0, 0, 0, 0.4);
}

/* Style main content to make it more viewable  */
.mainContentContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for displaying whether the run is ongoing */
#runOngoing {
    color: green;
}
#runNotOngoing {
    color: red;
}

/* Main body elements */
body {
    background-color: #C6E2FF;
    /* The url is calculated relative to the location of the css file. Since it is the same dir, it will work in both dynamic and static cases. */
    /* Background pattern is "Absurdity" from http://www.transparenttextures.com/
    background-image: url("absurdity.png"), linear-gradient(90deg, #B2CBE5, #C6E2FF 10%, #C6E2FF 90%, #B2CBE5);
    /* Set font */
    font-family: Geneva, Candara, Tahoma, sans-serif;
    height: 100vh;
    margin: 0px;
}
h1 {
    /* Allow left and right floated elements (such as div) in a given header */
    overflow: auto;
}
h2 {
    /* Ensures that headers do not overflow the width of the page */
    word-wrap: break-word;
}
/* Handle keeping a 4:3 ratio for the histograms
 * See: https://stackoverflow.com/a/24175439 */
.histogramContainerStyle:before {
    content: "";
    float: left;
    /* Effectively setting the width to be a percentage of the height
     * Here I'm selecting 4:3 */
    padding-bottom: 75%;
}
/* Clearfix */
.histogramContainerStyle:after {
    content: "";
    display: table;
    clear: both;
}
.histogramImage, .histogramContainerStyle {
    /* Ensure images fit on the screen */
    max-width: 100%;
    /* Create a drop shadow-like effect for the image */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 1px #d1d1d1;
    -moz-box-shadow: 1px 2px 1px #d1d1d1;
    box-shadow: 1px 2px 1px #d1d1d1;
}
/* Fixes anchors showing too low. This shifts them up so they are not blocked by the header. See: https://stackoverflow.com/a/13184714 */
a.anchor {
    display: block;
    /* The "top" position is relative to where it would be, so we are effectively shifting 60px up.
     * This number should be equal to the shift down that we do on the contentContainer to
     * stay below the header */
    position: relative;
    top: -60px;
}

/* Sets the styling on the tables containing the run information shown on the main run page. */
.rootPageRunListTable {
    /* Makes it easier to view */
    padding-top: 18px;
    padding-left: 25px;
}
.rootPageRunListTable > tbody > tr > td {
    /* Separate the run list table elements slightly to make them easier to view */
    padding-right: 5px;
}

/* Creates a 2 column display to link to the underlying ROOT files */
.listColumns {
    /* Hides the bullet point next to each item */
    list-style-type: none;
    /* Allows the list to be broken into two columns
     * See: https://stackoverflow.com/a/6509239 */
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

/* Contains grid of images on each run page */
/* Probably should be replaced by iron-flex-layout */
.gridContainer {
    /* The "overflow: auto;" is a hack to keep the container div from collapsing to 0 height
     * See: https://stackoverflow.com/q/218760 */
    overflow: auto;
}
/* Container for each image in the grid */
.gridImageContainer {
    /* Allows the images for be in a grid without using a table
     * This grid using floats performs much better than a table. */
    float: left;
    /* Ensures sufficient spacing to make the images easier to view */
    padding: 0px 1%;
}

/* Contact page styling */
/* Sets the location of the contact link shown on all pages */
.contactLinkContainer {
    margin: 0px auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
/* Styles the paragraph around the link to the contact page */
.contactLinkParagraph {
    /* Ensures that the link is centered */
    text-align: center;
    margin: 0px;
}
/* Changes the table displayed on the contact page. */
.contactTableData {
    padding-right: 30px;
}

