recursive-include overwatch config.yaml
include overwatch/webApp/static/*
recursive-include overwatch/webApp/static/icons *
recursive-include overwatch/webApp/static/scripts *
recursive-include overwatch/webApp/static/style *
# TODO: Remove once flask-assets is setup
recursive-include overwatch/webApp/static/bower_components *
include overwatch/webApp/templates/*

recursive-exclude overwatch .DS_Store
recursive-exclude overwatch .gitignore
