### Requirements for OVERWATCH ###
# Required

# For Python 2/3 support
future

# Flask
flask
Flask-Login

# Database
ZODB
Flask-ZODB

# Login
bcrypt
Flask-Bcrypt

# Status page
requests

# WSGI
flup6
# Not necessarily required
uwsgi

# Processing
numpy
# ROOT (required, but cannot be installed by pip)

# Documentation
sphinx
sphinxcontrib-napoleon
recommonmark
