### Requirements for OVERWATCH ###
# Required

# General
aenum

# For Python 2/3 support
future

# Flask
flask
Flask-Login
Flask-Assets
Flask-RESTful

# Database
ZODB
#Flask-ZODB
# Install from git repo to support the newer hook
git+https://github.com/SpotlightKid/flask-zodb.git

# Login
bcrypt
Flask-Bcrypt

# Status page
requests

# WSGI
flup6
# Not necessarily required
uwsgi

# Processing
numpy
# ROOT (required, but cannot be installed by pip)
rootpy

# Documentation
sphinx
# Allow google and numpy style docstrings
sphinxcontrib-napoleon
# Allow markdown
recommonmark
pprint

# Configuration
ruamel.yaml<=0.15
