{# Display histograms here #}
<h1 id="mainContentTitle">{{ run.prettyName }}</h1>
<p>
{{ run.prettyName }} started at approximately {{ subsystem.prettyPrintUnixTime(subsystem.startOfRun) }} (CERN time zone){%- if run.hltMode and run.hltMode != "U" %} and received via HLT Mode {{ run.hltMode }}{%- endif -%}.</br>
   <a target="_blank" href="https://alice-logbook.cern.ch/logbook/date_online.php?p_cont=rund&p_run={{ run.runNumber }}">Logbook entry</a>,
   <a target="_blank" href="https://alimonitor.cern.ch/runview/?run={{ run.runNumber }}">RCT</a>
</p>
{%- if timeSlice != None -%}
<p>
    {#subsystem.timeSlices: {{ subsystem.timeSlices }}
    timeSlice: {{ timeSlice }} #}
    Time slice requested {{ timeSlice.timeInMinutesRounded(timeSlice.minUnixTimeRequested) | int }} to {{ timeSlice.timeInMinutesRounded(timeSlice.maxUnixTimeRequested) | int }} minutes and returned {{ timeSlice.timeInMinutesRounded(timeSlice.minUnixTimeAvailable) | int }} to {{ timeSlice.timeInMinutesRounded(timeSlice.maxUnixTimeAvailable) | int }} due to data constraints.
</p>
<p>
    Processed with {% for key, val in timeSlice.processingOptions.items() -%}{{ key }} = {{ val }}{% if not loop.last%}, {% endif %}{% endfor -%}
</p>
{%- endif -%}
<hr />

{#- NOTE: We cannot use loop.first because we loop through many empty histGroups! -#}
{#- See: https://stackoverflow.com/a/4880398 -#}
{%- set firstLoopCompleted = [] -%}
{%- set threshold = [] -%}
{% for histGroup in subsystem.histGroups %}
    {%- if selectedHistGroup == histGroup.selectionPattern or (selectedHistGroup == None and firstLoopCompleted == []) -%}
        {%- for histName in histGroup.histList -%}
            {%- set hist = subsystem.hists[histName] -%}
            {%- if selectedHist == hist.histName or selectedHist == None -%}
                {%- if histGroup.plotInGrid == False or (histGroup.plotInGrid == True and firstLoopCompleted == []) -%}
                    {# Effective increments our counter #}
                    {%- if firstLoopCompleted.append(1) %}{% endif %}
                    <a class="histAnchor" data-histname="{{ hist.histName }}" data-histgroup="{{ histGroup.selectionPattern }}" name="{{ hist.histName }}"></a>
                    {% if histGroup.plotInGrid == True -%}
                        <h2>{{ histGroup.prettyName }}</h2>
                    {%- else -%}
                        <h2>{{ hist.prettyName }}</h2>
                    {%- endif %}
                    {%- if hist.information != dict() -%}
                        {%- for label, info in hist.information.items() -%}
                        {# Get threshold value if it exists #}
                        {%- if label == "Threshold" -%}
                            {%- if threshold.append(info) -%}{%- endif -%}
                        {%- endif -%}
                        <paper-button class="collapsibleContainerButton" id="collapse{{ loop.index0 }}Button{{ hist.histName }}">
                            <div>{{ label }}</div>
                            <paper-icon-button class="collapsibleContainerIcon" icon="icons:arrow-drop-down"></paper-icon-button>
                        </paper-button>
                         <iron-collapse class="collapsibleContainer"
                                       id="collapse{{ loop.index0 }}{{ hist.histName }}">
                            {%- if label not in ("Threshold", "Fast OR Hot Channels ID")-%}
                                <div>
                                    {% for infoData in info.split('\n') %}
                                        <div>{{ infoData }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>{{ info }}</div>
                            {% endif -%}
                        </iron-collapse>
                        <br />
                        {% endfor -%}
                    {% endif -%}
                {% endif -%}
                {# If grid, then add class #}
                {# Set histogramContainer style when we using jsRoot to set the proper shadows #}
                {%- set histogramContainerClasses = "histogramContainerStyle" -%}
                {%- if histGroup.plotInGrid == True -%}
                    {# TODO: Determine how to properly show the grid with iron-flex-layout #}
                    {# See: The example on this page: https://stackoverflow.com/a/31484427 -- https://codepen.io/StijnDeWitt/pen/EyPyyL #}
                    <p>Grid!</p>
                {% endif -%}
                <div id="{{ hist.histName }}" class="histogramContainer {% if jsRoot == True %}{{ histogramContainerClasses }}{% endif %}" data-filename="{{ jsonFilenameTemplate.format(hist.histName.replace("/", "_")) }}">
                {%- if jsRoot != True %}
                    <img src="{{ url_for("protected", filename=imgFilenameTemplate.format(hist.histName.replace("/", "_"))) }}" alt="{{ hist.histName }}" class="histogramImage">
                {%- else %}
                    {# Provide indication that we are loading jsroot content #}
                    {# It will disappear once jsroot loads the histogram #}
                    <p>Loading...</p>
                {%- endif %}
                </div>
            {%- endif %}
        {%- endfor -%}
    {% endif -%}
{% endfor -%}

{# Should only get here if nothing was selected! #}
{%- if firstLoopCompleted == [] -%}
    {#- We want to differentiate if this is because the subsystem just had nothing to extract, or because there was a problem with the request. -#}
    {%- if subsystem.hists | length == 0 -%}
    <p>No data available for this subsystem during this run! If you think this is in error, please contact the admin!</p>
    {%- else -%}
    <p>Error! No hist group (input: {{ selectedHistGroup }}) or hist (input: {{ selectedHist }}) was selected! Please try again with a different value or contact the admin!</p>
    {%- endif -%}
{%- endif -%}

{# Content for time slices #}
<div class="hideElement" id="timeSlicesValues" data-mintime="{%- if timeSlice != None -%}{{ timeSlice.timeInMinutesRounded(timeSlice.minUnixTimeRequested) }}{%- else -%}0{%- endif -%}" data-maxtime="{%- if timeSlice != None -%}{{ timeSlice.timeInMinutesRounded(timeSlice.maxUnixTimeRequested) }}{%- else -%}{{ subsystem.runLength }}{%- endif -%}" data-runlength="{{ subsystem.runLength }}" data-hotchannelthreshold="{%- if threshold != [] -%}{{ threshold[0]*1000 }}{%- else -%}0{%- endif -%}" data-rundir="{{ run.runDir }}" data-subsystem="{{ subsystem.subsystem }}" data-histname="{{ selectedHist }}" data-histgroupname="{{ selectedHistGroup }}"></div>
