<img src="{{ url_for("static", filename = "overwatchLogo.v1.svg") }}" class="centerLogo">

<h1 id="mainContentTitle">Trending</h1>
<hr />

{# NOTE: We cannot use loop.first because we loop through many empty histGroups! #}
{# See: https://stackoverflow.com/a/4880398 #}
{% set firstLoopCompleted = [] %}
{% for subsystemName, subsystem in trendingManager.trendingDB.items() %}
    {% if selectedHistGroup == subsystemName or (selectedHistGroup == None and firstLoopCompleted == []) %}
        {% for name, trendingObject in subsystem.items() %}
            {% if selectedHist == name or selectedHist == None %}
                {# Effective increments our counter #}
                {% if firstLoopCompleted.append(1) %}{% endif %}
                <a class="histAnchor" data-histname="{{ name }}" data-histgroup="{{ subsystemName }}" name="{{ name }}"></a>
                <h2>{{ trendingObject.desc }}</h2>

                {# Set histogramContainer style when we using jsRoot to set the proper shadows #}
                {%- set histogramContainerClasses = "histogramContainerStyle" -%}
                <div id="{{ name }}" class="histogramContainer {% if jsRoot == True %}{{ histogramContainerClasses }}{% endif %}" data-filename="{{ jsonFilenameTemplate.format(name.replace("/", "_")) }}">
                {% if jsRoot != True %}
                    <img src="{{ url_for("protected", filename=imgFilenameTemplate.format(name.replace("/", "_"))) }}" alt="{{ name }}" class="histogramImage">
                {% else %}
                    {# Provide indication that we are loading jsroot content #}
                    {# It will disappear once jsroot loads the histogram #}
                    <p>Loading...</p>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{# Should only get here if nothing was selected! #}
{%- if firstLoopCompleted == [] -%}
    <p>Error! No trending histogram available for selected subsystem (input: {{ selectedHistGroup }}) or selected histogram (input: {{ selectedHist }})! Please try again with a different value or contact the admin!</p>
{%- endif -%}

