/* Using: http://cssreset.com/creating-fixed-headers-with-css/ */
/* Most of these values are more or less hacks. It is usually easiest to understand each setting */
/* from inspecdting elements when viewing the pages in the browser */
.header {
    /* Position */
    top: 0px;
    left: 0px;
    position: fixed;
    margin: 0px auto;
    width: 100%;
    /* Help mobile? See: http://www.sitepoint.com/10-ways-make-website-mobile-friendly/ */
    max-width: 100%;
    /*min-wdth: 800px;*/
    /*word-wrap: break-word;*/
    /* Appearance */
    background-color: #003E72;
    border-bottom: 1px solid #BCE8F1;
    /*border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;*/
    /* Set text color */
    color: white;
}
.firstLineOfHeader {
    /* The "overflow: auto;" is a hack to keep the container div from collapsing to 0 height
     * See: https://stackoverflow.com/q/218760 */
    overflow: auto;
}
.headerLinksLeft {
    float: left;
    margin-left: 5px;
}
/* Contains content to the right of the header */
.contentThatCanBeHidden {
    float: right;
    margin-right: 5px;
}
.headerLink {
    color: white;
    padding: 0 8px;
}
.headerParagraph {
    padding: 0;
    margin: 0 auto;
}
/* Handle smaller screens */
.menuIcon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url("menuIcon.png") center;

    /* The png is much larger than we need, so we have to scale it.
     * See: https://stackoverflow.com/a/16080995 */
    background-size: 100%;
}


/* Help mobile? */
/*@media screen and (max-width: 500px) {
    .header {
        position: static;
    }
}*/
#timeDependentMergeContainer {
    margin-top: 5px;
    background-color: #6AADE4;
    border-top: 3px solid #4588ba;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#timeDependentMergeDiv {
    width: 760px;
    margin: 0 auto;
    /* Help mobile? */
    max-width: 100%;
    word-wrap: break-word;
}
#timeDependentMergeControls {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
#timeSliceResults {
    margin-top: 2px;
    text-align: center;
}

body {
    background-color: #CAE4F1;
    /* The url is calculated relative to the location of the css file. Since it is the same dir, it will work in both dynamic and static cases. */
    background-image: url("cream-pixels.png"), linear-gradient(90deg, #B2DCF1, #CAE4F1 15%, #CAE4F1 85%, #B2DCF1);
}

h2 {
    /* Ensures that headers do not overflow the width of the page */
    word-wrap: break-word;
}

img {
    /* Help mobile? */
    max-width: 100%;
    /*border:1px solid;*/
    border-color: #BCE8F1;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 1px #d1d1d1;
    -moz-box-shadow: 1px 2px 1px #d1d1d1;
    box-shadow: 1px 2px 1px #d1d1d1;
}

.gridContainer {
    /* The "overflow: auto;" is a hack to keep the container div from collapsing to 0 height
     * See: https://stackoverflow.com/q/218760 */
    overflow: auto;
}
.gridImageContainer {
    float: left;
    padding: 0px 1%;
}

#contentContainer {
    /*background-color: #CAE4F1;*/
    padding-top: 60px;
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
}
.contentDivider {
    margin-top: 24px;
    padding-bottom: 15px;
    border-top: 3px solid #4588ba;
    border-bottom: 3px solid #4588ba;
}
.qaFunctions {
    margin-top: 24px;
    border-top: 3px solid #4588ba;
    padding-top: 20px;
}

/* Sets the styling on the tables shown on the root page */
.rootPageRunListTable {
    padding-top: 18px;
    padding-left: 25px;
}

/* Fixes anchors showing too low. This shifts them up so they are not blocked by the header. See: https://stackoverflow.com/a/13184714 */
a.anchor {
    display: block;
    position: relative;
    top: -60px;
}

/* Changes the table displayed on the contact page. */
.contactTableData {
    padding-right: 30px;
}

/* Contact page link location */
.contactLinkContainer {
    margin: 0 auto;
    margin-top: 2cm;
    margin-bottom: 1cm;
}
.contactLinkParagraph {
    text-align: center;
}

/* Created at: http://css3buttongenerator.com/ */
.submitButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /*font-family: Arial;*/
    color: #ffffff;
    /*font-size: 20px; */
    padding: 5px 10px 5px 10px;
    border: 0px;
    /*border: solid #1f628d 2px;*/
    margin-bottom: 2px;
    text-decoration: none;
    /* Ensures that the button aligns with everything else. See: https://stackoverflow.com/a/20125492 */
    vertical-align: top;
    margin-top: 1px;
}
.submitButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* See: https://stackoverflow.com/a/6509239 */
.listColumns {
    list-style-type: none;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.basicQALink {
    text-decoration: none;
}
.basicQALink:hover {
    text-decoration: underline;
}
.processQATable {
    margin: 0 auto;
}
.centerTableElement {
    text-align: center;
}

/* Used on the processQA page */
.hideFunctionDocstring {
    display: none;
}

/* Media queries */
@media screen and (max-width: 600px) {
    /* Make the body wider */
    #contentContainer {
        width: 100vw;
    }
    /* Show the menu icon */
    .menuIcon {
        display: inline-block;
    }
    .contentThatCanBeHidden:hover .userInformation {
        display: block;
    }
    /* Position the menu icon */
    .contentThatCanBeHidden {
        padding-right: 20px;
        padding-top: 10px;
    }
    /* Hide user information links */
    .userInformation {
        display: none;
        position: absolute;
        padding: 20px;
        border: 5px solid #444;
        background: #000;
        top: 60px;
        right: 25px;
    }
    /*  Vertically center text on the left
     *  See: https://stackoverflow.com/a/6490283 */
    .headerLinksLeft {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%)
    }
    /*.firstLineOfHeader {
        display: flex;
        justify-content: center;
    }
    .headerLinksLeft {
        align-self: center;
    }*/
}

