<!doctype html>
{# Flashes from: http://flask.pocoo.org/docs/0.10/patterns/flashing/ #}
<html lang="en">
    <head>
        <title>ALICE OVERWATCH</title>
        <script src="{{ url_for("static", filename="shared.js") }}" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock %}
    </head>
    <body onload="{% block onLoad %}{% endblock %}removeFlashes()">
        <header class="header">
            <div class="firstLineOfHeader">
                <div class="headerLinksLeft">
                    {%- if current_user.is_authenticated -%}
                        <a class="headerLink" href="{{ url_for("index") }}">Return to Run List</a>
                    {%- else -%}
                        <a class="headerLink" href="{{ url_for("login") }}">Home</a>
                    {%- endif -%}
                    <a class="headerLink" href="#topOfPage">Top of Page</a>
                </div>
                <div class="responsiveContentContainer">
                    {# Based on http://www.outofscope.com/css-only-menu-toggle-no-javascript-required/ #}
                    <input type="checkbox" id="menuToggle"/>
                    {# onclick hack from: http://stackoverflow.com/a/6472181 #}
                    <label class="menuIcon" for="menuToggle" onclick=""><div></div></label>
                    <!-- "#/" prevents a jump when clicked. See: https://stackoverflow.com/a/21717034 -->
                    <!--<a href="#/" class="menuIcon"></a>-->
                    {# Adapted from http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu #}
                    <div class="responsiveContent">
                        <p class="headerParagraph responsiveElement">
                        {%- if current_user.is_authenticated -%}
                            User: {{ current_user.id }} <a class="headerLink" href="{{ url_for("logout") }}">Logout</a>
                        {%- else -%}
                            Not logged in. <a class="headerLink" href="{{ url_for("login") }}">Please login</a>
                        {%- endif %}
                        </p>
                        <!-- Need to add time dependent merge here somehow! -->
                        <!--<div style="width:100%;" class="responsiveElement">-->
                        <div class="responsiveTimeDependentMerge responsiveElement">
                            <!--<p class="headerParagraph">Time dependent controls would go exactly right here!</p>-->
                            {# Centered via: https://stackoverflow.com/a/6353345 #}
                            {% block secondLineInHeader %}{% endblock %}
                        </div>
             
                        <!--<div style="float:right;width:200px;clear:both;" class="responsiveQALink responsiveElement">-->
                        <div class="responsiveQALinkContainer responsiveElement">
                            <a class="headerLink" href="{{ url_for("processQA") }}">Basic QA</a>
                        </div>
                    </div>
                 </div>
             </div>
             <!--<div id="timeDependentMergeContainer">
                 <div id="timeDependentMergeDiv">
                     {# block secondLineInHeader %}{% endblock #}
                 </div>
             </div>-->
        </header>
        {# Defines the body block #}
        <div id="contentContainer">
            {# Flask flash based on: http://cssreset.com/creating-fixed-headers-with-css/ #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flashes id="flashes">
                        {% for message in messages %}
                        <p>{{ message.replace("\n", "<br />") | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <div class="contactLinkContainer"><p class="contactLinkParagraph"><a href="{{ url_for("contact") }}">Information, documentation, contact, and suggestions</a></p></div>
        </div>
    </body>
</html>
