<!doctype html>
{# Flashes from: http://flask.pocoo.org/docs/0.10/patterns/flashing/ #}
<html lang="en">
    <head>
        <title>ALICE OVERWATCH</title>
        <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
        <script src="{{url_for("static", filename="bower_components/webcomponentsjs/webcomponents-lite.min.js") }}"></script>
        <!-- 2. Use an HTML Import to bring in some elements. -->
        <link rel="import" href="{{ url_for("static", filename="bower_components/app-layout/app-header-layout/app-header-layout.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/app-layout/app-header/app-header.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/app-layout/app-drawer-layout/app-drawer-layout.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/app-layout/app-drawer/app-drawer.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/paper-drawer-panel/paper-drawer-panel.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/app-layout/app-toolbar/app-toolbar.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/paper-toolbar/paper-toolbar.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/iron-icons/iron-icons.html") }}">
        <link rel="import" href="{{ url_for("static", filename="bower_components/paper-icon-button/paper-icon-button.html") }}">
        <!--<link rel="import" href="bower_components/paper-input/paper-input.html">-->

        <script src="{{ url_for("static", filename="shared.js") }}" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
        {# Disable favicon request. See: https://stackoverflow.com/a/13416784 #}
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock %}
    </head>
    <body onload="{% block onLoad %}{% endblock %}removeFlashes()">
        <!--<header class="header">
            <div class="headerContainer">
                <div class="headerMainLinks">
                    {%- if current_user.is_authenticated -%}
                        <a class="headerLink" href="{{ url_for("index") }}">Return to Run List</a>
                    {%- else -%}
                        <a class="headerLink" href="{{ url_for("login") }}">Home</a>
                    {%- endif -%}
                    <a class="headerLink" href="#topOfPage">Top of Page</a>
                </div>
                <div class="responsiveContentContainer">
                    {# Based on http://www.outofscope.com/css-only-menu-toggle-no-javascript-required/ #}
                    <input type="checkbox" id="menuToggle"/>
                    {# onclick hack from: http://stackoverflow.com/a/6472181 #}
                    <label class="menuIcon" for="menuToggle" onclick=""><div></div></label>
                    <div class="responsiveContent">
                        <p class="responsiveHeaderParagraph responsiveElement">
                        {%- if current_user.is_authenticated -%}
                            User: {{ current_user.id }} <a class="headerLink" href="{{ url_for("logout") }}">Logout</a>
                        {%- else -%}
                            Not logged in. <a class="headerLink" href="{{ url_for("login") }}">Please login</a>
                        {%- endif %}
                        </p>
                        <div class="responsiveTimeDependentMerge responsiveElement">
                            {# Centered via: https://stackoverflow.com/a/6353345 #}
                            {% block secondLineInHeader %}{% endblock %}
                        </div>
                        <div class="responsiveQALinkContainer responsiveElement">
                            <a class="headerLink" href="{{ url_for("processQA") }}">Basic QA</a>
                        </div>
                    </div>
                 </div>
             </div>
         </header>-->
        {# Defines the body block #}
        {% block body %}{% endblock %}
        <!--<div id="contentContainer">
            {# Flask flash based on: http://cssreset.com/creating-fixed-headers-with-css/ #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flashes id="flashes">
                        {% for message in messages %}
                        <p>{{ message.replace("\n", "<br />") | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {# Body block was here #}
            <div class="contactLinkContainer"><p class="contactLinkParagraph"><a href="{{ url_for("contact") }}">Information, documentation, contact, and suggestions</a></p></div>
        </div>-->
    </body>
</html>
