{% extends "layout.html" %}
{% block head %}
    <!-- Handles removing confusing messages after we have logged out. -->
    <script type="text/javascript">
        function removeLogoutFlashes() {
            var flashes = document.getElementById("flashes");
            if (flashes != null)
            {
                var children = flashes.children
                for (var i = 0; i < children.length; i++)
                {
                    /*console.log(children[i])
                    console.log(children[i].textContent);*/
                    if (children[i].textContent === "Please log in to access this page." || children[i].textContent.search("Login Success for") != -1)
                    {
                        children[i].style.display="none";
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block onLoad %}removeLogoutFlashes();{% endblock %}
{% block body %}
    <h1>ALICE OVERWATCH</h1>
    <a class="anchor" name="topOfPage"></a>
    <p>Welcome to OVERWATCH, an online monitoring framework utilizing detector histograms provided by the HLT. The OVERWATCH framework processes these histograms and displays them minute-by-minute on this website; this allows for real-time monitoring of detector performance, effortlessly available to any ALICE member at any location. For example, a collaborator in the US can monitor the EMCal trigger patch ADC spectrum for noisy TRUs in the comfort of daylight hours, while the CERN-based detector expert sleeps.
    <br /><br />The framework also features the ability to automate QA functions to identify detector performance problems, as well as the ability to examine detector behavior during user-specified time ranges within a run. Moreover, the framework provides long-term trending info, i.e. the ability to plot detector quantities as a function of run number. OVERWATCH complements the DQM framework, allowing remote monitoring and easily implementable user customization. We provide extensive documentation for any detector system to be easily added to OVERWATCH, and encourage more subsystems to take advantage of the framework.</p>
    {% if current_user.is_authenticated %}
        <p>Logged in as user {{ current_user.id }}. No additional authentication is needed!</p>
    {% else %}
        <p>General users: Please login below to access the website.
        <br />Developers (implementing detector-specific features): Proceed to the project <a href="https://github.com/raymondEhlers/OVERWATCH">Github page</a>.</p>
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="" method="post">
            Username:<br>
            <input type="text" name="username" value="{{ request.form.username }}"><br>
            Password:<br>
            <input type="password" name="password"><br>
            <input type="hidden" value="{{ nextValue or '' }}" name="next">
            <input value="Login" type="submit" />
        </form>
    {% endif %}
{% endblock %}
