{% extends "layout.html" %}
{% block head %}
    <!-- Handles removing confusing messages after we have logged out. -->
    <script type="text/javascript">
        function removeLogoutFlashes() {
            var flashes = document.getElementById("flashes");
            if (flashes != null)
            {
                var children = flashes.children
                for (var i = 0; i < children.length; i++)
                {
                    /*console.log(children[i])
                    console.log(children[i].textContent);*/
                    if (children[i].textContent === "Please log in to access this page." || children[i].textContent.search("Login Success for") != -1)
                    {
                        children[i].style.display="none";
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block title %}ALICE OVERWATCH{% endblock %}

{% block pageReadyForJS %}removeLogoutFlashes();{% endblock %}

{% block mainContent %}
    {% with title=self.title(),error=error %}
        {% include "loginMainContent.html" %}
    {% endwith %}
{% endblock %}
