{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript">
        /* Helper function to show selected option and hide all others */
        function setOptionsVisibleAsNecessary(selectedFunction) {
            var availableOptions = document.getElementById("qaFunction").options
            //console.log(availableOptions)
            var selectorNeedsToBeSet = true
            for (var i = 0; i < availableOptions.length; i++)
            {
                if (availableOptions[i].className === selectedFunction)
                {
                    availableOptions[i].disabled = false;
                    availableOptions[i].removeAttribute("hidden");
                    if (selectorNeedsToBeSet === true)
                    {
                        availableOptions[i].selected = true;
                        selectorNeedsToBeSet = false;
                    }
                }
                else
                {
                    availableOptions[i].disabled = true;
                    availableOptions[i].setAttribute("hidden", "hidden");
                    availableOptions[i].selected = false;
                }
            }
        }

        /* Only valid functions are shown for each subsystem */
        function showOnlyValidSelectors() {
            document.getElementById("subsystem").addEventListener("change", function() {
                /* Find elemnts of the new subsystem */
                //console.log(this.value);
                var selector = this.value + "Selector"
                var hiddenElementsToShow = document.getElementsByClassName(selector);
                if (hiddenElementsToShow.length > 0)
                {
                    //console.log(hiddenElementsToShow);
                    setOptionsVisibleAsNecessary(selector);
                }
                else
                {
                    //console.log("No functions available!");
                    setOptionsVisibleAsNecessary("noSelector");
                }

                /* Fixes the docstring */
                /* See: https://stackoverflow.com/a/23612498 */
                document.getElementById("qaFunction").dispatchEvent(new Event('change'));
            });

            /* Apply the selector filtering define above on load */
            /* See: https://stackoverflow.com/a/23612498 */
            document.getElementById("subsystem").dispatchEvent(new Event('change'));

        }

        /* Hides functions which are not being shown */
        /* Note that showFunctionDocstring is not actually defined in the css. But that means it will be displayed */
        /* Based on: https://stackoverflow.com/a/24849350 */
        function switchDocstrings() {
            /* Registers a listener for the future */
            document.getElementById("qaFunction").addEventListener("change", function() {
                /* Selects the first element, which is fine, since there should only be one visible */
                var visibleElement = document.querySelector(".showFunctionDocstring");

                // Find the hidden element
                /* this refers to the qaFunction */
                var nameOfHiddenElementToShow = "";
                if (this.value !== "noFunction")
                {
                    var subsystem = document.getElementById("subsystem").value;
                    nameOfHiddenElementToShow = subsystem + this.value;
                }
                else
                {
                    nameOfHiddenElementToShow = this.value;
                }
                var hiddenElementToShow = document.getElementById(nameOfHiddenElementToShow);
                /*console.log(this.value);
                console.log(visibleElement);
                console.log(hiddenElementToShow);*/

                /* Hides the old element */
                if (visibleElement != null) {
                    visibleElement.className = "hideFunctionDocstring";
                }
                /* Shows the new element */
                if (hiddenElementToShow != null) {
                    hiddenElementToShow.className = "showFunctionDocstring";
                }

            });

            /* Fire a change to activate the above to set the proper function on page load. */
            /* See: https://stackoverflow.com/a/23612498 */
            // Create a new 'change' event
            var event = new Event('change');

            // Dispatch it.
            document.getElementById("qaFunction").dispatchEvent(event);
        }
    </script>
{% endblock %}

{% block pageReadyForJS %}showOnlyValidSelectors();switchDocstrings();{% endblock %}

{% block title %}OVERWATCH Basic QA{% endblock %}

{% block mainContent %}
    {% with title=self.title() %}
        {% include "qaMainContent.html" %}
    {% endwith %}
{% endblock %}
