{% extends "layout.html" %}
{% block body %}
    <a class="anchor" name="topOfPage"></a>
    <h1>QA Using HLT Histograms</h1>
    <p>Ran QA function: {{ qaFunctionName }} from {{ firstRun }} to {{ lastRun }}.</p>
    {% if hists != {} %}
        <div class="contentDivider">
            <h2>Results</h2>
            {% for histLabel in hists %}
                <a href="#{{ histLabel }}">{{ histLabel }}</a>
            {% endfor %}
        </div>
        <div>
                {% for histLabel in hists %}
                    <a class="anchor" name="{{ histLabel }}"></a>
                    <h2>{{ histLabel }}</h2>
                    {# Cannot escape html encoding using url_for, so have to manually replace "?", "=", and "&" #}
                    {# See: https://stackoverflow.com/a/27304735 #}
                    <img src="{{ url_for("protected", filename=hists[histLabel]) | replace("%3F", "?") | replace("%3D", "=") | replace("%26", "&") }}" alt="{{ histLabel }}">
                {% endfor %}
        </div>
    {% else %}
        <div class="contentDivider">
            <p>There are no histograms to display! Please try again, perhaps with a different set of runs.</p>
        </div>
    {% endif %}

{% endblock %}
