{% set subsystemObject = run.subsystems[subsystem] %}
<h1>{{ title }}
    {%- if subsystemObject.fileLocationSubsystem != subsystem %}
    (stored in {{ subsystemObject.fileLocationSubsystem }} files)
    {%- endif %}</h1>
<p>All times recorded in the CERN time zone.</p>
<hr />

<ul class="listColumns">
    {% if subsystemObject.combinedFile != None %}
    <li><a href="{{ url_for("protected", filename=subsystemObject.combinedFile.filename) }}" download>Combined file created at {{ subsystemObject.prettyPrintUnixTime(subsystemObject.combinedFile.fileTime) }}</a></li>
    {% endif %}
    {% for fileCont in subsystemObject.files.values() %}
    <li><a href="{{ url_for("protected", filename=fileCont.filename) }}" download>
        {{ subsystemObject.prettyPrintUnixTime(fileCont.fileTime) }}</a></li>
    {% endfor %}
</ul>
