{% set subsystemObject = run.subsystems[subsystem] %}
<h1 id="mainContentTitle">{{ run.prettyName }} {{ subsystem }} ROOT Files
    {%- if subsystemObject.fileLocationSubsystem != subsystem %}
    (stored in {{ subsystemObject.fileLocationSubsystem }} files)
    {%- endif %}</h1>
<p>All times recorded in the CERN time zone.</p>
<hr />

<ul class="listColumns">
    {% if subsystemObject.combinedFile != None %}
    {# TODO: Fix bug here! It gives the full path to the combined file! #}
    {# TODO: Determine a better way to remove the "data" part of the path! #}
    <li><a href="{{ url_for("protected", filename=subsystemObject.combinedFile.filename.replace("data/", "")) }}" download>Combined file created at {{ subsystemObject.prettyPrintUnixTime(subsystemObject.combinedFile.fileTime) }}</a></li>
    {% endif %}
    {% for fileCont in subsystemObject.files.values() %}
    <li><a href="{{ url_for("protected", filename=fileCont.filename.replace("data/", "")) }}" download>
        {{ subsystemObject.prettyPrintUnixTime(fileCont.fileTime) }}</a></li>
    {% endfor %}
</ul>
