<h1 id="mainContentTitle">OVERWATCH Run List</h1>
<hr />

{% for run in runs %}
    <table class="rootPageRunListTable">
    {% for subsystem in run.subsystems.values() %}
        <tr>
            {% if loop.first == True %}
            <td>{{ run.prettyName }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>
                <a href="{{ url_for("runPage", runDir = run.runDir, subsystem=subsystem.subsystem, requestedFileType="runPage") }}">{{ subsystem.subsystem }} Histograms</a>
            </td>
        </tr>
        {% if subsystem.showRootFiles == True %}
        <tr>
            <td></td>
            <td>
                <a href="{{ url_for("runPage", runDir = run.runDir, subsystem = subsystem.subsystem, requestedFileType="rootFiles") }}">{{ subsystem.subsystem }} ROOT Files</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endfor %}
