{# Display histograms here #}
<h1>{{ run.prettyName }}</h1>
<p>
    {{ run.prettyName }} started at {{ subsystem.prettyPrintUnixTime(subsystem.startOfRun) }} (CERN time zone).</br>
   <a target="_blank" href="https://alice-logbook.cern.ch/logbook/date_online.php?p_cont=rund&p_run={{ run.runNumber }}">Logbook entry</a>
</p>
<hr />

{% if useGrid %}
    {# How to handle a grid #}
{% else %}
    {% for histGroupName, histGroup in subsystem.histGroups.iteritems() %}
        {%- for histName in histGroup.histList -%}
            {%- set hist = subsystem.hists[histName] %}
            <a class="anchor" data-histName="{{ histName }}" data-histGroup="{{ histGroup }}" name="{{ hist.histName }}"></a>
            <h2>{{ hist.prettyName }}</h2>
            {# TODO: Improve this line! #}
            {%- set filename = subsystem.imgDir.replace("data/", "") + "/" + hist.histName + ".png" -%}
            <img src="{{ url_for("protected", filename=filename) }}" alt="{{ hist.histName }}">
        {% endfor -%}
    {% endfor %}
{% endif %}
