{# Display histograms here #}
<h1 id="mainContentTitle">{{ run.prettyName }}</h1>
<p>
    {{ run.prettyName }} started at {{ subsystem.prettyPrintUnixTime(subsystem.startOfRun) }} (CERN time zone).</br>
   <a target="_blank" href="https://alice-logbook.cern.ch/logbook/date_online.php?p_cont=rund&p_run={{ run.runNumber }}">Logbook entry</a>
</p>
<hr />

{# NOTE: We cannot use loop.first because we loop through many empty histGroups! #}
{# See: https://stackoverflow.com/a/4880398 #}
{% set firstLoopCompleted = [] %}
{% for histGroupName, histGroup in subsystem.histGroups.iteritems() %}
    {% if selectedHistGroup == histGroupName or (selectedHistGroup == None and firstLoopCompleted == []) %}
        {%- for histName in histGroup.histList -%}
            {%- set hist = subsystem.hists[histName] %}
            {% if selectedHist == hist.histName or selectedHist == None %}
                {% if histGroup.plotInGrid == False or (histGroup.plotInGrid == True and firstLoopCompleted == []) %}
                    {# Effective increments our counter #}
                    {% if firstLoopCompleted.append(1) %}{% endif %}
                    <a class="anchor" data-histname="{{ hist.histName }}" data-histgroup="{{ histGroup.selectionPattern }}" name="{{ hist.histName }}"></a>
                    {% if histGroup.plotInGrid == True -%}
                        <h2>{{ histGroup.prettyName }}</h2>
                    {%- else -%}
                        <h2>{{ hist.prettyName }}</h2>
                    {%- endif %}
                    {% if hist.information != dict() %}
                        {% for label, info in hist.information.iteritems() %}
                        <paper-button class="collapsibleContainerButton" id="collapse{{ loop.index0 }}Button">
                            <div>{{ label }}</div>
                            <paper-icon-button class="collapsibleContainerIcon" icon="icons:arrow-drop-down"></paper-icon-button>
                        </paper-button>
                        <iron-collapse class="collapsibleContainer" id="collapse{{ loop.index0 }}">
                            <div>{{ info }}</div>
                        </iron-collapse>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {# TODO: Improve this line! #}
                {%- set filenameImage = subsystem.imgDir.replace("data/", "") + "/" + hist.histName + ".png" -%}
                {%- set filenameJSON = subsystem.jsonDir.replace("data/", "") + "/" + hist.histName + ".json" -%}
                {# If grid, then add class #}
                {% if histGroup.plotInGrid == True %}
                    <p>Grid!</p>
                {% endif %}
                <div id="{{ hist.histName }}" class="histogramContainer" data-filename="{{ filenameJSON }}">
                {% if jsRoot != True %}
                    <img src="{{ url_for("protected", filename=filenameImage) }}" alt="{{ hist.histName }}">
                {% else %}
                    <p>Loading...</p>
                {% endif %}
                </div>
            {% endif %}
        {% endfor -%}
    {% endif %}
{% endfor %}
