{# Display histograms here #}
<h1>{{ run.prettyName }}</h1>
<p>
    {{ run.prettyName }} started at {{ subsystem.prettyPrintUnixTime(subsystem.startOfRun) }} (CERN time zone).</br>
   <a target="_blank" href="https://alice-logbook.cern.ch/logbook/date_online.php?p_cont=rund&p_run={{ run.runNumber }}">Logbook entry</a>
</p>
<hr />

{% if useGrid %}
    {# How to handle a grid #}
{% else %}
    {# NOTE: We cannot use loop.first because we loop through many empty histGroups! #}
    {# See: https://stackoverflow.com/a/4880398 #}
    {% set firstLoopCompleted = [] %}
    {% for histGroupName, histGroup in subsystem.histGroups.iteritems() %}
        {% if selectedHistGroup == histGroupName or (selectedHistGroup == None and firstLoopCompleted == []) %}
            {%- for histName in histGroup.histList -%}
                {% if firstLoopCompleted.append(1) %}{% endif %}
                {%- set hist = subsystem.hists[histName] %}
                {% if selectedHist == hist.histName or selectedHist == None %}
                    <a class="anchor" data-histname="{{ hist.histName }}" data-histgroup="{{ histGroup.selectionPattern }}" name="{{ hist.histName }}"></a>
                    <h2>{{ hist.prettyName }}</h2>
                    {# TODO: Improve this line! #}
                    {%- set filename = subsystem.imgDir.replace("data/", "") + "/" + hist.histName + ".png" -%}
                    <img src="{{ url_for("protected", filename=filename) }}" alt="{{ hist.histName }}">
                {% endif %}
            {% endfor -%}
        {% endif %}
    {% endfor %}
{% endif %}
