{% extends "layout.html" %}
{% block pageReadyForJS %}scrollIfHashExists({{ scrollAmount }});setScrollValueInForm();{% endblock %}

{#{% block drawerOptions %}{% endblock %}#}

{% block title %}
{{ run.prettyName }}
{% endblock %}

{% set subsystem = run.subsystems[subsystemName] %}

{% block drawer %}
    <!-- This is the drawer menu -->
    {% with subsystem=subsystem %}
        {% include "runPageDrawer.html" %}
    {% endwith %}
{% endblock %}

{% block mainContent %}
    <!-- This is the main content! -->
    {% with subsystem=subsystem %}
        {% include "runPageMainContent.html" %}
    {% endwith %}
{% endblock %}

{% block body %}
{% endblock %}
