<paper-listbox>
{% for histGroup in subsystem.histGroups.values() -%}
    {%- if histGroup.histList != [] -%}
        {#<p> {{ histGroup }} </p>#}
        {# groupSelectionPatten should always be a valid proxy for a valid link #}
        <a href="#" data-histgroup="{{ histGroup.selectionPattern }}" tabindex=-1>
            <paper-item><h3>{{ histGroup.prettyName }}</h3></paper-item>
        </a>
        {%- for histName in histGroup.histList -%}
            {% set hist = subsystem.hists[histName] %}
            <a href="#" data-histname="{{ hist.histName }}" data-histgroup="{{ histGroup.selectionPattern }}" tabindex=-1>
                <paper-item>{{ hist.prettyName }}</paper-item>
            </a>
        {%- endfor -%}
    {%- endif -%}
{% endfor %}
</paper-listbox>
